* {
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    color: #000000;
    font-size: 23px;
    line-height: 1.8;
}

/*estilo del header*/
header {
    background-color: #66F28D;
    position: sticky;
    top: 0;
    margin-left: -34px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    width: 250px; 
    margin: 20px;
    margin-right: 954px;
}

.input{
    width: 650px !important;
    height: 20px;
    margin-left: -1025px;
    padding: 10px;
    font-size: 20px;
    margin-top: 100px;
}

#boton-carrito {
    border: none;
    color: #40723b;
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 12px 17px;
    transition: all .3s;
    margin-top: 71px;
    margin-bottom: 82px;
    margin-left: -107px;
}

#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: #40723b;
}

#boton-carrito:focus {
    outline: none;
}

/*estilo del contenido del main */

.contenido {
    background-color: #A0EFB6;
    margin-top: -21px;
    margin-bottom: -61px;
    padding-bottom: 25px;
}

.titulo {
    text-align: center;
    margin-left: 98px;
    margin-bottom: 25px;
    margin-top: 13px;
    font-size: 35px;
    border-bottom-style: solid;
    width: 90%;
    padding-top: 15px;
}

.mate {
    width: 65%;
    margin-left: 310px;
    margin-top: 38px;
}

select{
    display: inline;
    text-align: center;
    border: 1px solid lightskyblue;
    margin-top: 30px;
}

.seleccion{
    text-align: center;
}
#selecTipo{
    width: 50%;
}

#contenedor__productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.producto {
    max-width: 22%;
    padding: 10px;
    max-height: 475px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.card-title {
    color: black !important;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 13px;
    font-size: 25px;
    border-bottom-style: solid;
    width: 90%;
}

.imagen {
    width: 213px;
    margin-left: 25px;
}

.boton {
    margin-top: 16px;
    margin-bottom: 25px;
    background: #0C6A26;
    color: #ffffff;
    font-size: 17.2px;
    cursor: pointer;
    border-radius: 8px;
    outline: 2px solid #0C6A26;
    outline-offset: 2px;
}

.formulario {
    margin-left: 70px;
    margin-top: 50px;
    font-size: 21px;
}

.formulario__text{
    width: 450px;
    margin-bottom:30px;
}

.formulario__contra {
    width: 330px;
    margin-bottom:30px;
}

/*estilo del footer*/

footer {
    background-color: #29D552;
    padding-bottom: 20px;
}

.redes {
    text-align: center;
    font-size: 28px;
    margin-top: 8px;
    margin-bottom: 13px;
}

.rrss {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 18px;
    margin-top: -10px;
}

/*estilo modal carrito*/

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: #40723b;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #40723b;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid #40723b;
}

.boton-eliminar {
    background-color: white;
    color: #40723b;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

#botonVaciar {
    margin-left: 13px;
    font-size: 18px;
    padding: 4px;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #FF0000;
    color: #ffffff;
    border: none;
    outline: none;

}

#botonComprar {
    margin-left: 345px;
    font-size: 18px;
    padding: 4px;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #29D552;
    color: #ffffff;
    border: none;
    outline: none;

}